body {
    font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: auto;
    background-color: #eceff1;
}

button:focus {
    outline: none;
}

.nav-file {
    position: fixed;
    width: 100%;
    overflow: hidden;
    top: 0;
}

#nav-files-div {
    z-index: 1;
}

#search-bar-file-index {
 position: fixed;
z-index: 2;
top: 24px;
left: 58%; 
}

.nav-file {
    height: 130px;
}

#index {
  margin-top: 130px;
  z-index: 0;
}

input:focus {
    outline: none;
}


/*      
        **Do all the media queries here**
        I couldn't figure out why the media queries aren't working for the individual 
        stylesheets but I don't think it is worth spending time to figure it out since they
        work here.

        we can use classes like page-body for stuff that is consistent throughout all the templates
        im assuming all the templates change into columns at the same screen size, but 
        still check before you add page-body to an element.

        page-body is only for the container that holds the cards. in the accounts template, it does not include
        the greeting at the top of the page.
*/


@media screen and (min-width: 795px) {
    .page-body{
        display: flex;
        flex-direction: row;
    }
    
    }