<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <div id="half-extended-external-accounts-card-container">
            <div id="half-extended-external-accounts-card-top">
            <div id="half-extended-external-accounts-card-left">
                <div class="external-accounts-card-title">External accounts</div>
                <div class="external-accounts-card-key-value-flex" id="extended-external-accounts-card-key-value-flex">
                    <div class="external-accounts-card-key-value-row" class="external-accounts-card-assets-row"><span class="external-accounts-card-assets-value" ng-style="{'color': greyLabelColor}">Total Assets</span><span class="external-accounts-card-label-value" ng-style="{'padding-left': '10px', 'padding-right': '10px'}">{{ '$' + totalAssetsDollarAmount + '.' + totalAssetsChangeAmount }}</span></div>
                   <div class="external-accounts-card-key-value-row" class="external-accounts-card-liability-row"><span class="external-accounts-card-liabilities-value" ng-style="{'color': greyLabelColor}">Total Liabilities</span> <span class="external-accounts-card-label-value" ng-style="{'padding-left': '10px'}">{{ '$' + totalLiabilitiesDollarAmount + '.' + totalLiabilitiesChangeAmount}}</span></div>
                    </div>
            </div>
            <div id="half-extended-external-accounts-card-right" class="external-accounts-card-right">
                <div class="external-accounts-card-buttons-and-links-row" id="half-extended-external-accounts-card-buttons-and-links-row"><a class="external-accounts-card-sync-link" href="" ng-style="{'color': linkColor}">Sync</a> <span> | </span> <button class="external-accounts-card-ellipsis-button" ng-style="{'color': linkColor}">...</button> <span class="material-icons" class="external-accounts-card-down-arrow-link" ng-click="collapseExternalAccounts()" ng-style="{'color': arrowButtonColor}">expand_less</span></div>
            </div>
            </div>
            <div id="half-extended-external-accounts-card-bottom">
                <div class="extended-external-accounts-card-bottom-top" id="half-extended-external-accounts-card-bottom-top">
                    <div class="external-accounts-card-title" class="extended-external-accounts-card-info-title">{{externalBankName + " " + "(" + numberOfExternalAccountsLinked + ")"}}</div>
                    <div class="extended-external-accounts-card-down-arrow-link-div"><span class="material-icons" class="external-accounts-card-down-arrow-link" ng-click="extendExternalAccounts()" ng-style="{'color': arrowButtonColor}">expand_more</span></div>
                    </div>
            </div>
        </div>
    </body>
</html>