<!DOCTYPE html>
<html>
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
    <link rel="stylesheet" href="css/index-styles.css">
    <script src="https://kit.fontawesome.com/9beae211b7.js" crossorigin="anonymous"></script>

    <title>Chase</title>

</head>
<body ng-style="'background-color': greyBackground" >
    <div ng-app="chase-app" ng-controller="appCtrl" >
        <!--Accounts section-->
        <div ng-init="currentTime()" ng-style="{'background-color': greyBackground, 'margin': '0'}" class="accounts-container" ng-if="state === 'accounts'">
            <div class="nav-section">
                <div id="nav-file" ng-style="{'background-color': chaseBlue}" ng-include="'nav.html'"></div>
            </div>
            <div class="accounts-child-bottom">
                <div ng-include="'accountsTemplate.html'"></div>
                
            </div>
        </div>

        <!--Investments section-->
        <div ng-style="{'background-color': 'white', 'margin': '0'}" class="investments-container" ng-if="state === 'investments'" >
            <div class="nav-section">
                <div id="nav-file" ng-style="{'background-color': chaseBlue}" ng-include="'nav.html'"></div>
            </div>
            <div class="investments-child-bottom">
                <div ng-include="'./investments/investmentsTemplate.html'"></div>
                
            </div>
        </div>
    </div>

    <script>
        var app = angular.module('chase-app', []);
        app.controller('appCtrl', function($scope){
        //this will be used to change layout based on the screen size
        $scope.isMobile = false;

        //fonts
        $scope.globalFont = 'Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif';

        // colors
        //Blue
        $scope.chaseBlue = '#0946a8';
        $scope.blueBorder = '#0060f0';
        $scope.blueHeader = '#0060f0';
        $scope.linkColor = '#0060F0';
        $scope.infoButtonColor = '#0060f0';
        $scope.blueText = "#005eb8";
        $scope.linkArrowColor = '#005eb8';
        $scope.blueButtonColor = '#0360F0';
        $scope.bulletPoint = '#094386';
        $scope.exploreLinks = '#025db8';
        

        //Grey
        $scope.darkGreyText = "#262626";
        $scope.lightGreyText = '#717171';
        $scope.cardHeaderColor ='#414042';
        $scope.cardText = '#414042';
        $scope.greyCardBorder ='#414042';
        $scope.greyBackground = "#eceff1";
        $scope.arrowButtonColor = '#666666';
        $scope.greyLabelColor = '#717171';
        $scope.lines = '#bcbcbc';
        $scope.state = 'accounts';
        $scope.ptmLines = '#cccccc';
        

        //website state
        $scope.state = 'accounts';

        //orange 
        $scope.highlightedSection = '#f6f6f6';
    
        //user states
        $scope.isEnrolledInNotifications = false;

        //user external account info
        $scope.externalBankName = "TD Bank";
        $scope.numberOfExternalAccountsLinked = 1;
        
        //time and date
        $scope.hour = new Date().getHours();
        $scope.minute = new Date().getMinutes();
        $scope.transformedHour = 0;
        $scope.transformedMinute = 0;
        $scope.transformedTime = '00:00';
        $scope.amOrPM = 'AM'; 

        //time and date greeting 
        $scope.showGreeting = true;

        //user funds
        $scope.totalAssetsDollarAmount = 0;
        $scope.totalAssetsChangeAmount = '00';
        $scope.totalLiabilitiesDollarAmount = 0;
        $scope.totalLiabilitiesChangeAmount = '00';

        //toggle state of cards
        $scope.hasExtendedExternalAccounts = true;
        $scope.isBankAccountCardExtended =  true;

        $scope.sampleExternalAccounts = [
            { account: "TD CHECKING (..4400)", type: "Checking", value: "154.96", timeUpdated: "10:57 AM ET", dateUpdated: "10/5/2023"}
        ];
        

        //functions
        $scope.extendExternalAccounts = function(){
            $scope.hasExtendedExternalAccounts = !$scope.hasExtendedExternalAccounts;
        };

        $scope.sampleExternalAccounts = [
            { account: "TD CHECKING (..4400)", type: "Checking", value: "154.96", timeUpdated: "10:57 AM ET", dateUpdated: "10/5/2023"}
        ];

        $scope.sampleChaseAccount = [
            { account: "CHASE SECURE BANKING (...0465)", type: "Checking", balance: "103.53", depositsThisMonth: "50.25", withdrawalsThisMonth: "23.76"}
        ];

         // nav bar links
         $scope.investmentsTemplate = function() {
            $scope.state = 'investments';
        }

        $scope.accountsTemplate = function() {
            $scope.state = 'accounts';
        }



        //functions to toggle cards state
        $scope.extendExternalAccounts = function(){
            $scope.hasExtendedExternalAccounts = !$scope.hasExtendedExternalAccounts;
            $scope.hasCollapsedExternalAccounts = true;
            $scope.hasHalfExtendedExternalAccounts = false;
        };

        $scope.collapseExternalAccounts = function (){
            $scope.hasCollapsedExternalAccounts = true;
            $scope.hasHalfExtendedExternalAccounts = false;
            $scope.hasExtendedExternalAccounts = false;
        };

        $scope.displayHalfExternalAccounts = function () {
            $scope.hasHalfExtendedExternalAccounts = true;
            $scope.hasExtendedExternalAccounts = false;
            $scope.hasCollapsedExternalAccounts = false;

        };

        $scope.toggleBankAccountCard = function () {
            $scope.isBankAccountCardExtended = !$scope.isBankAccountCardExtended;
        };

        //function to get date/time 
//if we are going to use this function for other things like if 
//someone updates something or posts something and we need to save the time, we are going to have to
// refactor the if statements to handle times before 4 am because this isnt going to change
// the variables for am and pm, or the transformed hour, minute, or time
        $scope.currentTime = function () {
            if ($scope.hour < 12 && $scope.hour > 3) {
                $scope.transformedHour = $scope.hour;
                $scope.amOrPM = 'AM';
                $scope.timeSensitiveGreeting = "Good morning";
            } else if($scope.hour === 12){
                $scope.transformedHour = $scope.hour - 12;
                $scope.amOrPM = 'PM';
                $scope.showGreeting = false;
            } else if($scope.hour > 12 && $scope.hour < 18) {
                $scope.transformedHour = $scope.hour - 12;
                $scope.amOrPM = 'PM';
                $scope.timeSensitiveGreeting = "Good afternoon";
            } else if($scope.hour >= 18 && $scope.hour <= 20) {
                $scope.amOrPM = "PM";
                $scope.transformedHour = $scope.hour - 12;
                $scope.timeSensitiveGreeting = "Good evening";
            } else {
                $scope.showGreeting = false;
            }

            if($scope.minute > 10 ){
                $scope.transformedMinute = "0" + $scope.minute;
            } else {
                $scope.transformedMinute = $scope.minute;
            }
            $scope.transformedTime = $scope.transformedHour + ":" + $scope.transformedMinute;
        };


      
    });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>