<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="./css/search-bar.css">
    </head>
    <body>
        <div id="search-bar-container">
            <div id="input-and-hr">
            <div id="input-and-search-icon">
                <div><button class="nav-button" ng-click="closeSearch()"><span ng-style="{'color': lightGreyText}" class="material-symbols-outlined">search</span></button></div><div><input id="search-bar-input-field" ng-model="search" ng-style="{'background-color': ' white'}" type="text" placeholder="{{searchPlaceholder}}"></div>
                </div>
                <div id="search-bar-hr-div">
                    <hr id="search-bar-hr">
                </div>
            </div>
            <div id="search-bar-popover">
                <div>
                <h4 class="search-bar-popover-headers" ng-style="{'color': cardHeaderColor}">Please don't include personal info on your search.</h4>
                <h5 id="search-bar-header-2" class="search-bar-popover-headers" ng-style="{'color': cardHeaderColor}">Ask a question like this:</h5>
                </div>
                <div>
                    <div ng-style="{'color': lightGreyText}" class="search-bar-popover-list">
                        <div class="search-bar-popover-list-items">Where is the Secure Message center?</div>
                        <div class="search-bar-popover-list-items">How do I find my routing number?</div>
                        <div class="search-bar-popover-list-items">how do I schedule a repeating payment?</div>
                    </div>
                </div>
                <div>
                    <h5 id="search-bar-header-3" class="search-bar-popover-headers" ng-style="{'color': cardHeaderColor}">Or, type a word or phrase like this:</h5>
                </div>
                <div>
                    <div ng-style="{'color': lightGreyText}" class="search-bar-popover-list">
                        <div class="search-bar-popover-list-items">Paperless statements</div>
                        <div class="search-bar-popover-list-items">Ultimate Rewards</div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>