<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="./planAndTrack/css/cards.css">
    </head>
    <body>
        <div id="at-a-glance-card-container">
            <div>
                <h2 id="at-a-glance-card-title" class="plan-and-track-cards-titles">At a glance</h2>
            </div>
        <div id="at-a-glance-card-content">
            <div>
                <div ng-include="'./planAndTrack/components/at-a-glance-nav.html'"></div>
            </div>
            <div>
                <div>
                    <div><h2>{{ "$" + sampleChaseAccount[0].withdrawalsThisMonth}}</h2></div>
                    <div id="at-a-glance-card-message" ng-if="atAGlanceCardState === 'Monthly spending'"><div>Your spending as of {{ date }}</div> <div><span id="at-a-glance-help-icon" ng-style="{'color': infoButtonColor}" class="material-symbols-outlined">help</span></div></div>
                    <div id="at-a-glance-card-message" ng-if="atAGlanceCardState === 'Net worth history'"><div>Your estimated net worth as of {{ date }}</div> <div><span id="at-a-glance-help-icon" ng-style="{'color': infoButtonColor}"  class="material-symbols-outlined">help</span></div></div>
                </div>
                <div id="at-a-glance-card-graph-div">
                    <img ng-if="atAGlanceCardState === 'Monthly spending'" id="at-a-glance-card-graph-img" src="../images/plan-and-track-graph.png" alt="graph">
                    <img ng-if="atAGlanceCardState === 'Net worth history'" id="at-a-glance-card-graph-img" src="../images/net-worth-history-graph.png" alt="graph">
                </div>
                <div id="at-a-glance-card-graph-dates">
                    <div ><p>Nov: -</p></div><div>Oct 30: $0.00</div>
                </div>
                <div id="at-a-glance-graph-bottom-link-div">
                  <div><span class="material-symbols-outlined" ng-style="{'color': blueButtonColor}">format_list_bulleted</span></div><div><a href="" id="at-a-glance-graph-bottom-link" ng-style="{'color': blueButtonColor}">See chart as table</a></div>
                </div>
            </div>
        </div>
        </div>
    </body>
</html>