<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="./planAndTrack/css/components.css">
    </head>
    <body>
        <div id="at-a-glance-nav-container">
            <div>
                <button class="at-a-glance-nav-buttons" ng-style="{'color': monthlySpendingNavButtonColor}" ng-click="goToMonthlySpending()">Monthly spending</button>
            </div>
            <div>
                <button class="at-a-glance-nav-buttons" ng-style="{'color': netWorthHistoryButtonColor}" ng-click="goToNetWorthHistory()">Net worth history</button>
            </div>
        </div>
    </body>
</html>