<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="./planAndTrack/css/components.css">
    </head>
    <body>
        <div id="plan-and-track-buttons-container">
            <div id="plan-and-track-template-header-buttons">
                <div class="plan-and-track-template-button-divs"><button class="plan-and-track-template-buttons" ng-style="{'color': blueButtonColor}">Link external accounts</button></div>
                <div id="plan-and-track-template-set-new-goal-button-div" class="plan-and-track-template-button-divs"><button class="plan-and-track-template-buttons" ng-style="{'color': blueButtonColor}" id="plan-and-track-template-set-new-goal-button">Set a new goal</button></div>
                <div class="plan-and-track-template-button-divs"><button class="plan-and-track-template-buttons" ng-style="{'color': blueButtonColor}">Update your priorities</button></div>
                <div id="plan-and-track-template-manage-external-accounts-button-div" class="plan-and-track-template-button-divs"><button class="plan-and-track-template-buttons" ng-style="{'color': blueButtonColor}" id="plan-and-track-template-manage-external-accounts-button">Manage external accounts</button></div>
            </div>
        </div>
       
    </body>
</html>