<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="./payAndTransfer/css/navs-styles.css">
    </head>
    <body class="navs-container">
        <div class="all-navs">
            <div class="title-in-nav">Transfer Money</div>
            <div ng-style="{'color': cardText}"><button class="all-navs-buttons" ng-click="toggleScheduleTransferSection()">Schedule transfer</button></div>
            <div ng-style="{'color': cardText}"><button class="all-navs-buttons" ng-click="toggleTransferActivitySection()">Transfer Activity</button></div>
            <div ng-style="{'color': cardText}"><button class="all-navs-buttons" ng-click="toggleExternalAccountsSection()">External Accounts</button></div>
        </div>
    </body>
</html>