/* all navs */
#nav-file {
    margin-bottom: 0%;
}

.navs-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.all-navs {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 450;
    background-color: white;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    
    
    
}

.all-uls {
    list-style: none;
    display: flex;
    flex-direction: row;

}

.title-in-nav {
    display: flex;
    color: white;
    background-color: #128842;
    padding-right: 12px;
    padding-left: 25px;
    margin-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
    
}

.all-navs-buttons {
    padding: 0.6%;
    border: none;
    box-shadow: none;
    background: white;
    margin-left: 2%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100px;
    color: #414042;
 
}

/* #transfer-money-nav {
    margin-left: -2.1%;
} */

