<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="./payAndTransfer/css/templates.css">
    </head>
    <body>
        <div>
        <div class="nav-file" ng-include="'./payAndTransfer/navs/payBillSendMoneyWithZelleNav.html'"></div>
        </div>
        <div>
            <div ng-if="showPaySection" ng-include="'./payAndTransfer/sections/paySection.html'"></div>
            <div ng-if="showPaymentActivitySection" ng-include="'./payAndTransfer/sections/paymentActivitySection.html'"></div>
        </div>

    </body>
</html> 