<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="./payAndTransfer/css/templates.css">
    </head>
    <body>
        <div id="send-a-gift-template-container">
        <div>
            <div ng-if="showSendAGiftSection" ng-include="'./payAndTransfer/sections/sendAGiftSection.html'"></div>
            <div ng-if="showGiftActivitySection" ng-include="'./payAndTransfer/sections/giftActivitySection.html'"></div>
        </div>
        </div>
    </body>
</html> 