<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <div ng-include="'./payAndTransfer/payBillsSendMoneyWithZelleTemplate.html'" ng-if="payAndTransferSec === 'payBillsZelleTemp'"></div>
        <div ng-include="'./payAndTransfer/transferMoneyTemplate.html'" ng-if="payAndTransferSec === 'transferMoneyTemp'"></div>
        <div ng-include="'./payAndTransfer/sendAGiftTemplate.html'" ng-if="payAndTransferSec === 'sendAGiftTemp'"></div>
        <div ng-include="'./payAndTransfer/paymentActivityTemplate.html'" ng-if="payAndTransferSec === 'paymentActivityTemp'"></div>
    </body>
</html>