<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <div>
        <ul>
            <li><button ng-click="payBillsZelleTemplate()">pay bills zelle</button></li>
            <li><button ng-click="transferMoneyTemplate()"> transfer money</button></li>
            <li><button ng-click="paymentActivityTemplate()">payment activity</button></li>
            <li><button ng-click="sendAGiftTemplate()">send a gift</button></li>
        </ul>
        </div>
    </body>
</html>