/* all cards */
.plan-and-track-cards-titles {
    font-size: 18px;
}

.plan-and-track-cards-second-title {
    font-size: 18px;
}

.plan-and-track-cards-text {
    font-size: 14px;
    color: #717171;
}

/* exploring investing card*/
/* IDs */
#explore-investing-card-container {
    display: flex;
    flex-direction: column;
}

#explore-investing-card-content-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #bcbcbc;
    border-radius: 6px;
}

#explore-investing-card-top-content {
    display: flex;
    flex-direction: row;
}

#explore-investing-card-bottom-content {
    display: flex;
    flex-direction: row;
}

/* key measurements card */
/* classes */

.key-measurements-card-containers {
    background-color: white;
    border: 1px solid #bcbcbc;
    border-radius: 6px;
}

.key-measurements-card-heading-arrow {
    display: flex;
    flex-direction: row;
}

.key-measurements-card-logo-text {
    display: flex;
    flex-direction: row;
}

/* at a glance card */
/* classes */
/* IDs */
#at-a-glance-card-content {
    background-color: rgb(201, 225, 233);
    border-radius: 6px;
}

#plan-and-track-card-graph-img {
    width: 100%;
}


/* goals card */
/* classes */
/* IDs */
#goals-card-content {
    background-color: white;
    border: 1px solid #bcbcbc;
    border-radius: 6px;
    padding: 2%;
}

#goals-card-heading-arrow {
 display: flex; 
 flex-direction: row;
}


/* more financial tools card */
/* classes */
.more-financial-tools-card-content-sections {
    display: flex;
    flex-direction: row;
}

.more-financial-tools-card-heading-text {
    display: flex;
    flex-direction: column;
}

.more-financial-tools-card-sub-headers {
    font-size: 14px;

}

.more-financial-tools-card-hr-div {
   width: 100%;
   
}

.more-financial-tools-card-hr {
    display: flex;
    flex-direction: row;
     width: 95%;
     margin-right: 0;
    
 }
/* IDs */
#more-financial-tools-card-content {
    background-color: white;
    border: 1px solid #bcbcbc;
    border-radius: 6px;
    
}

/* net income and spend card */
/* classes */
/* IDs */
#net-income-and-spend-card-container {
    background-color: white;
    border: 1px solid #bcbcbc;
    border-radius: 6px;
}
#net-income-and-spend-card-title-arrow {
    display: flex;
    flex-direction: row;
}

/* net worth card */ 
/* classes */
/* IDs */
#net-worth-card-container {
    background-color: white;
    border: 1px solid #bcbcbc;
    border-radius: 6px;
}
#net-worth-card-title-arrow {
    display: flex;
    flex-direction: row;
}

/* spending and budgeting card */
/* classes */
/* IDs */
#spending-and-budgeting-card-container {
    background-color: white;
    border: 1px solid #bcbcbc;
    border-radius: 6px;
}
#spending-and-budgeting-card-title-arrow {
    display: flex;
    flex-direction: row;
}