/* all cards */
.plan-and-track-cards-titles {
    font-size: 18px;
    margin-bottom: 5%;
}

.plan-and-track-cards-second-title {
    font-size: 16px;
    color: #414042;
}

.plan-and-track-cards-text {
    font-size: 14px;
    color: #717171;
    margin-bottom: -1%;
    padding-bottom: 1%;

}

#goals-card-title {
    margin-bottom: 2.5%;
}

.plan-and-track-cards-row-text {
padding-bottom: 1%;
font-size: 14px;
}



/* exploring investing card*/
/* IDs */
#explore-investing-card-container {
    display: flex;
    flex-direction: column;
}

#explore-investing-card-content-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #bcbcbc;
    border-radius: 8px;
    padding-left: 3%;
    padding-top: 4%;
    padding-right: 4%;
 
}

#explore-investing-card-top-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#explore-investing-card-text {
    margin-left: -2.5%;
}

#explore-investing-card-logo-img {
 height: 70px;
 width: 70px;
 margin-top: -20%;
 margin-left: -15%;
 
}

#explore-investing-card-logo-img-div {
    width: 20%;
}

#explore-investing-card-bottom-content {
    display: flex;
    flex-direction: row;
    
}

#explore-investing-card-arrow {
    font-size: 180%;
}

/* key measurements card */
/* classes */

.key-measurements-card-containers {
    background-color: white;
    border: 1px solid #bcbcbc;
    border-radius: 8px;
    padding-left: 3%;
    padding-top: 4%;
    padding-right: 4%;
    margin-bottom: 2%;
}

.key-measurements-card-heading-arrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.key-measurements-card-logo-text {
    display: flex;
    flex-direction: row;
}

/* IDs */
#key-measurements-card-arrow1 {
 font-size: 180%;
}

#key-measurements-card-arrow2 {
font-size: 180%;
}

/* at a glance card */
/* classes */
/* IDs */
#at-a-glance-card-title {
    margin-bottom: 2.5%;
}

#at-a-glance-card-content {
    background: linear-gradient(to bottom, #eef8ff, #FFFFFF);
    border-radius: 8px;
    padding: 1%;
}

#at-a-glance-card-graph-img {
    width: 100%;
    
}

#at-a-glance-card-graph-dates {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#at-a-glance-graph-bottom-link-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 4%;
}

#at-a-glance-graph-bottom-link {
    font-size: 16px;
}


/* goals card */
/* classes */
/* IDs */
#goals-card-container{
  width: 100%;
}
#goals-card-content {
    background-color: white;
    border: 1px solid #bcbcbc;
    padding: 2%;
    width: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top: none;
}

#goals-card-heading-arrow {
 display: flex; 
 flex-direction: row;
 justify-content: space-between;
}


#goals-card-img-div {
width: 100%;
}

#goals-card-img {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    width: 100%;
    padding-bottom: 1%;
    background-color: white;
    margin-bottom: -1%;
   
}

#goals-card-text {
    padding-bottom: 2%;
}



/* more financial tools card */
/* classes */
.more-financial-tools-card-content-sections {
    display: flex;
    flex-direction: row;
    
}

.more-financial-tools-card-heading-text {
    display: flex;
    flex-direction: column;
}

.more-financial-tools-card-sub-headers {
    font-size: 14px;

}

.more-financial-tools-card-hr-div {
   width: 100%;
   
}

.more-financial-tools-card-hr {
    display: flex;
    flex-direction: row;
     width: 95%;
     margin-right: 0;
    
 }

 .more-financial-tools-card-logos {
    width: 35px;
    height: 35px;
 }

 .more-financial-tools-card-text-div {
    margin-right: 10%;
 }

 .more-financial-tools-card-arrows {
   margin-top: 5%;
   
   

 }

/* IDs */
#more-financial-tools-card-content {
    background-color: white;
    border: 1px solid #bcbcbc;
    border-radius: 8px;
    padding-top: 6%;
    padding-bottom: 6%;
    padding-left: 4%;
    
}


#more-financial-tools-card-arrow1 {
    font-size: 180%;
}

#more-financial-tools-card-arrow2 {
    font-size: 180%;
}

#more-financial-tools-card-arrow3 {
    font-size: 180%;
}


/* net income and spend card */
/* classes */
/* IDs */
#net-income-and-spend-card-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #bcbcbc;
    border-radius: 8px;
    padding: 2%;
    padding-right: 6%;
    padding-left: 8%;
    padding-top: 6%;
    height: 80%;

   
    
}
#net-income-and-spend-card-title-arrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#net-income-and-spend-card-arrow {
    font-size: 180%;
}

/* net worth card */ 
/* classes */
/* IDs */
#net-worth-card-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #bcbcbc;
    border-radius: 8px;
    padding: 2%;
    padding-right: 6%;
    padding-left: 8%;
    padding-top: 8%;
    padding-bottom: 4%;
    height: 80%;
   
}

#net-worth-card-title-arrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#net-worth-card-arrow {
    font-size: 180%;
}


/* spending and budgeting card */
/* classes */
/* IDs */
#spending-and-budgeting-card-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #bcbcbc;
    border-radius: 6px;
    padding: 2%;
    padding-right: 6%;
    padding-left: 8%;
    padding-top: 8%;
    height: 100%;
}
#spending-and-budgeting-card-title-arrow {
    display: flex;
    flex-direction: row;
}

#spending-budgeting-card-arrow{
    font-size: 180%;
}